body{
    background-color: tan;
}

.title{
    color: black;
    padding: 10px 20px;
    text-align: center;
    border-bottom: 1.5px solid black;
}

.recipe{
    color: black;
    text-align: center;
}